.container {
    padding: 0;
}

.heart-area {
    /* display: none; */
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}

.music-player {
    overflow: hidden;
    user-select: none;
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    animation: slide-media 1s;
    -webkit-animation: slide-media 1s;
    background-color: #000;
}

.music-player::before {
    content: "";
    background: url('../images/bg-player.jpg') 50%;
    /* opacity: 0.3; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    /* filter: blur(5px); */
    /* -webkit-filter: blur(5px); */
}

.player-control {
    /* background-color: #fff; */
    height: calc(100% - 75px);
    width: 100%;
    position: absolute;
    bottom: 75px;
}

.button-audio {
    position: absolute;
    color: #5CB9FF;
    background: #fff;
    border: 0;
    outline: none;

    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.button-audio:active {
    transform: translateY(2px);
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
}


.button-audio.button-play-pause {
    font-size: 35px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);

}

.button-audio.button-previous,
.button-audio.button-next {
    font-size: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.button-audio.button-previous {
    top: 0;
    left: 0;
    bottom: 0;
    right: 180px;
    margin: auto;
}

.button-audio.button-next {
    top: 0;
    right: 0;
    bottom: 0;
    left: 180px;
    margin: auto;
}

.player-tada {
    position: absolute;
    height: 75px;
    width: 100%;
    bottom: 0;
    left: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.player-process {
    width: 100%;
    height: 5px;
    /* position: absolute; */
    background: #FFE1F2;
}

.player-process .process-bar {
    background-color: #FD8FB3;
    height: 5px;
    width: 0;
}

.player-process .process-ball {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: absolute;
    display: flex;
    box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, .19);
    z-index: 11111;
    margin-top: -8px;
}

.player-information {
    padding: 15px;
    position: absolute;
    background-color: #fff;
    color: #5CB9FF;
    font-size: 16px;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #5CB9FF;
}

.audio-list {
    position: absolute;
    background-color: #fff;
    /* border: 1px solid; */
    width: 100%;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    left: 0;
    height: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.audio-list .audio-item {
    color: #5CB9FF;
    overflow: hidden;
    padding: 5px 15px;
}

.audio-list .audio-item:hover {
    background: #EEFBFE;
}

@keyframes slide-media {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #EEFBFE;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5CB9FF;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #5CB9FF;
}